%h2 File Types Management
%ul
  %li= button_link_to 'New File Type', new_system_file_type_path, :class => "add"

%h3 Existing Locations
%table
  %tr
    %th Name
    %th Type
    %th Data Objects utilising this type
    %th Actions
  - @file_types.each do |ft|
    %tr
      %td= ft.name
      %td #{ft.storage_location.storage_type.upcase}::#{ft.storage_location.name}
      %td #{ft.data_objects.count}
      %td
        = button_link_to "E", edit_system_file_type_path(@system, ft)
        = button_link_to "X", system_file_type_path(@system, ft), :method => "delete",
                            :confirm =>"In a live system, this will actually break things if you continue",
                            :id => 'file_type_delete_link', :class => 'red'

