%h2 File Types Management
%ul
  %li= button_link_to 'New File Type', new_system_file_type_path(@system), :class => "add", :remote => true

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Type
    %th Class
    %th Information
    %th Actions
  - @file_types.each do |ft|
    %tr
      %td= ft.name
      %td= ft.storage_location.storage_type.upcase
      %td= ft.storage_location.name
      %td.light
        Data Objects: #{ft.data_objects.count}
        Files: #{ft.raw_files.count}
      %td
        = button_link_to "Edit", edit_system_file_type_path(@system, ft), :remote => true, :class => 'edit'
        = button_link_to "Metadata", system_file_type_file_metadata_schemas_path(@system, ft), :remote => true, :class => 'edit'
        = button_link_to "Delete", system_file_type_path(@system, ft), :method => "delete",
                            :confirm =>"In a live system, this will actually break things if you continue",
                            :id => 'file_type_delete_link', :class => 'red delete'

