= render :partial => "shared/form_header", :locals => {:action => action, :obj => "Data Object"}
= render :partial => "shared/form_errors", :locals => {:obj => @security_group}

= form_for [@system, @security_group] do |f|
  .lightbox
    .field.line
      = f.label :name, required_field('Name:')
      .lastUnit
        = f.text_field :name, :class => "text basic_field", :placeholder => "The name of the security group"
    .field.line
      = f.label :short_description, required_field('Summary:')
      .lastUnit
        = f.text_area :short_description, :class => "text description_field small_desc_field", :placeholder => "A short description of the security group (1-2 sentences)"
    .field.line
      .field.actions
        = f.submit :class => "blue basic_field"

= render :partial => "shared/form_autocomplete_helper" , :locals => {:source => list_members_system_path(@system, :format => :json) }