= form_header "Select role for #{@user.email}"
= form_for(@user, :url => approve_user_path(@specimen)) do |f|
  .contentbox_body
    = render "shared/error_messages", :target => @user
    .input_group
      = f.label :role_id, "role"
      = f.collection_select(:role_id, @roles, :id, :name, {:include_blank => ""})
  .form_actions
    .add_variables
      = f.submit("Approve")
      = link_to 'Back', access_requests_users_path
