#form_innards
  #modal_left_container
    = form_for [@system, @file_type, @file_metadata_schema], :remote => true do |f|
      %h3{:style => "margin:0 12px 10px 0"} Properties
      #ft_details_container{:style => ["margin:0px 12px 0px 0px"]}
        .field.line
          %label= required_field("Field Information:")
          .lastUnit
            = f.text_field :label, :class => "small_text basic_field", :placeholder => "Display Label (max 255 chars)"
        .field.line
          = f.label :required, "Required?"
          -##ios_checkbox_container.lastUnit
          .lastUnit
            = f.check_box :required, :default => false
        .field.line
          %label= required_field("Field Parameters")
          .lastUnit
            = "Field Type: "
            = f.select :field_type, options_for_select(AppConfig.metadata_types.invert, :selected => @file_metadata_schema.field_type), :include_blank => true
          #parameters_field.lastUnit
            -#= f.text_field :length, :class => "small_text basic_field", :placeholder => "Length or Decimal Places"
        .field.line
          %label= required_field("Field Options:")
          #field_options.lastUnit
            =render :partial => 'file_metadata_schemas/field_options'
        .field.line
          .field.actions
            = f.submit :class => "blue basic_field", :id => "save_button"

  #modal_right_container
    = render :partial => 'shared/right_file_metadata'

.field.line
  .field.actions
    = button_link_to "Back", edit_system_file_type_path(@system, @file_type), :remote => true, :class => "back_button"
    -#= button_link_to "Close", "", :remote => true, :class => "jqmClose"
    = button_link_to "Close", system_file_types_path(@system)#, :remote => true, :class => "jqmClose"
    -#= link_to "Save and Define Metadata", "#", :remote => true, :class => "blue basic_field", :id => "save_button"

:javascript
   //blah
   
= render :partial => 'file_metadata_schemas/script_helper'
