%h2 Import Job Management

%h3 Existing Import Jobs
%table
  %tr
    %th System
    %th Data Object
    %th Import Mapping
    %th Import Mapping Type
    %th Initiated By
    %th Status
    %th Actions


  - @import_jobs.each do |i|
    %tr
      - system = i.data_object.system
      - data_object = i.data_object
      %td= link_to system.name, system_path(system)
      %td= link_to data_object.name, system_data_object_path(system, data_object)
      %td= i.import_mapping.name
      %td= i.import_mapping.type
      %td= link_to i.user.full_name, user_path(i.user)
      %td= i.status
      %td
        - if i.validated and i.can_import
          - if i.status.eql?("Importing Data")
            Data is currently importing
          - elsif i.imported
            Data has been imported
          - else
            = button_link_to "Import Data", import_data_system_data_object_import_job_path(system, data_object, i)
        - elsif !i.validated
          Pending validation
        - else
          Raw file invalid

