= render :partial => "shared/form_header", :locals => {:action => action, :obj => "Raw Storage Location"}
= render :partial => "shared/form_errors", :locals => {:obj => @storage_location}

= form_for [:management, @storage_location] do |f|
  .lightbox
    .field.line
      = f.label :name, required_field('Name:')
      .lastUnit
        = f.text_field :name, :class => "text basic_field", :placeholder => "The name of your system"
    .field.line
      = f.label :system_id, required_field('Associated System:')
      .lastUnit
        = f.select :system_id, options_from_collection_for_select(@systems, :id, :name) #TODO default
    .field.line
      = f.label :storage_type, required_field('Storage Type:')
      .lastUnit
        = f.select :storage_type, options_for_select(AppConfig.file_locations)
    .field.line
      = f.label :location, required_field('Location:')
      .lastUnit
        = f.text_field :location, :class => "text basic_field", :placeholder => "Exact path on the fs to be used as RawStore root. include trailing /"
    .field.line
      .field.actions
        = f.submit :class => "blue basic_field"
