=render :partial => 'shared/modal_form', :locals => {:obj => @data_object_security_group, :modal_title => "Build Data Object 3/3: Permissions"}


.field.line
  %label Security Groups
  %p Change user access by adding (to the right box) or remove (from the right box).
  .lastUnit
    - unless @system.security_groups.blank?
      =field_set_tag do
        = hidden_field_tag :list_selected, :id => "list_selected"
        %span
          #leftList
            %p
              %strong Deselected
            %select#leftSelect{:multiple => "multiple", :size => "10"}
              - @unselected_sec_groups.each do |d|
                %option{:value => d.id}=d.name
          #middleButtons
            #addRemoveButtons
              %button#addButton.list_builder_button{:type => "button"} Add
              %button#removeButton.list_builder_button{:type => "button"} Remove
            #addAllRemoveAllButtons
              %button#addAllButton.list_builder_button{:type => "button"} Add All
              %button#removeAllButton.list_builder_button{:type => "button"} Remove All
          #rightList
            %p
              %strong Selected
            %select#rightSelect{:multiple => "multiple", :size => "10"}
              - @data_object.security_groups.each do |a|
                %option{:value => a.id}= a.name
    - else
      .error Can't set permissions - no security groups found!

#bottom_actions_container
  .field.line
    .field.actions
      = button_link_to "Back", system_data_object_data_object_attributes_path(@system, @data_object), :remote => true
      = link_to "Save and close", "#", :remote => true, :class => "blue basic_field jqmClose" #TODO Fix!

= javascript_include_tag 'list-builder'