
#file_preview
  %table
    %thead
      %tr
        -@csv[:header].each do |cell|
          %th.truncate
            = cell
      %tr
        -@csv[:header].each do |cell|
          - id = @csv[:header].index(cell)
          %th.truncate.column{:id => "column_#{id}"}<
            - if @assigned_attrs.present?
              - attr = @assigned_attrs["column_#{id}"]
              - if attr.present?
                %p.draggable{"data_id" => attr.id, :class => ["icon_field", field_css_class(attr.attribute_type)] } #{attr.label}#{"*" if attr.required?}

    %tbody
      - @csv[:data].each do |row|
        %tr
          - row.each do |cell|
            %td.truncate
              = cell
