%p= @import_job.data_object.name
%p= @import_job.import_mapping.name
%p= @import_job.raw_file.name
%p= @import_job.status

- if @import_job.status.eql?("Validated. Ready to import.")
  = button_link_to "Import Data", import_data_system_data_object_import_job_path(@system, @data_object, @import_job)
- elsif @import_job.status.eql?("Pending validation")
  = button_link_to "Validate", validate_system_data_object_import_job_path(@system, @data_object, @import_job)
