#container_page_header.wrapper.clearfix
  #container_page_title
    %h1.title.file
      %span=@raw_file.name

  #container_page_buttons.right
    -if (can? :update, @raw_file) || (can? :manage, @file_type)
      =button_link_to "Replace", edit_system_file_type_raw_file_path(@system, @file_type, @raw_file), :remote => true, :class => "green add"
      =button_link_to "Edit", edit_metadata_system_file_type_raw_file_path(@system, @file_type, @raw_file), :class => "edit", :remote => true
      =button_link_to "Manage Versions", manage_versions_system_file_type_raw_file_path(@system, @file_type, @raw_file), :class => "edit", :remote => true
    -if can? :manage, @file_type
      = button_link_to "Delete", system_file_type_raw_file_path(@system, @file_type, @raw_file),
                          :confirm =>"This will delete the specified file!",
                          :id => 'delete_file_link', :class => 'red delete', :method => :delete


%h2 Collect File
#container_page_content.wrapper
  =button_link_to "Click to download", collect_system_file_type_raw_file_path(@system, @file_type, @raw_file), :class => "blue basic_field"
%h2 Details
#container_page_content.wrapper
  .system_left_col
    %h3 File Metadata:
    -if @raw_file[:file_metadata].blank?
      %span.bold No metadata found!!
    -else
      -@file_type.file_metadata_schemas.each do |fms|
        .information
          %span.bold #{fms.label}:
          - if @raw_file[:file_metadata][fms.label].blank?
            Field contains no data!
          -else
            = @raw_file[:file_metadata][fms.label]


  .system_right_col
    %h3 File Information:
    .row.information
      %span.bold Size:
      =number_to_human_size(@raw_file.size)
    .row.information
      %span.bold Owner:
      =@raw_file.user.full_name
    .row.information
      %span.bold Created:
      %span{:title => @raw_file.created_at} #{time_ago_in_words(@raw_file.created_at)} ago
    .row.information
      %span.bold Updated:
      %span{:title => @raw_file.updated_at} #{time_ago_in_words(@raw_file.updated_at)} ago
    .row.information
      %span.bold Version:
      =@raw_file.version_words
