= render :partial => "shared/form_header", :locals => {:action => action, :obj => "Data Object"}
= render :partial => "shared/form_errors", :locals => {:obj => @data_object}

= form_for [@system, @data_object] do |f|
  .lightbox
    .field.line
      = f.label :name, required_field('Name:')
      .lastUnit
        = f.text_field :name, :class => "text basic_field", :placeholder => "The name of the data object"
    .field.line
      = f.label :short_description, required_field('Summary:')
      .lastUnit
        = f.text_area :short_description, :class => "text description_field small_desc_field", :placeholder => "A short description of your data object (1-2 sentences)"
    .field.line
      = f.label :description, 'Description:'
      .lastUnit
        = f.text_area :description, :class => "text description_field", :placeholder => "A detailed description of your data object"
    .field.line
      .field.actions
        = f.submit :class => "blue basic_field"