=render :partial => 'shared/modal_form', :locals => {:obj => @data_object, :modal_title => "Add/Edit Data Object"}

= form_for [@system, @data_object], :remote => true do |f|
  .field.line
    = f.label :name, required_field('Name:')
    .lastUnit
      = f.text_field :name, :class => "text basic_field", :placeholder => "The name of the data object"
  .field.line
    = f.label :short_description, required_field('Summary:')
    .lastUnit
      = f.text_area :short_description, :class => "text description_field small_desc_field", :placeholder => "A short description of your data object (1-2 sentences)"
  .field.line
    = f.label :description, 'Description:'
    .lastUnit
      = f.text_area :description, :class => "text description_field", :placeholder => "A detailed description of your data object"
  .field.line
    = f.label :display_columns, 'Columns To Display:'
    .lastUnit.scrollbar
      = f.select :display_columns, [1,2,3]
  -#= f.hidden_field :display_columns, 3
  .field.line
    .field.actions
      = f.submit "Save and continue", :class => "blue basic_field"