#container_page_header.wrapper.clearfix
  #container_page_title
    %h1.title.data_object
      %span=@data_object.name

  #container_page_buttons.right
    -if can? :write, @data_object
      =button_link_to "Import", import_system_data_object_path(@system, @data_object), :class => "green add", :remote => true
    -if can? :manage, @data_object
      =button_link_to "Configure", configure_system_data_object_path(@system, @data_object), :class => "edit", :remote => true

  #container_page_details.right.flushright.details
    .entry
      %p
        Records:
        =0

    .entry
      %p
        Authors:
        =0

%h2 Details
#container_page_content.wrapper
  .system_left_col
    .left.line
      %h3 Description:
    .row.information
      %p=@data_object.description
  .system_right_col
    .left.line
      %h3 Summary:
    .row.information
      %p Files Imported
      %p.light (blah)
      %p Records
      %p.light (blah)
      %p Authors
      %p.light (blah)

-#TODO Move this
- cols = Array.new
- @data_object.data_object_attributes.each do |attr|
  - if attr.column.present?
    -cols[attr.column] = attr


#container_page_content.wrapper
  %h2 Contents
  %div#data_object_attr_table
    %table{:width => "100%"}
      %tr
        - if @data_object.data_object_attributes.blank?
          %h3 Empty
          %p.bold Data Object Attributes need to be configured
        - else
          %th
            %h3 Actions
          - @data_object.data_object_attributes.visible_fields.each do |attr|
            %th
              %h3{:title => "Internal Name: " << attr.name }= attr.label
      - @data_object.data_object_rows.each do |row|
        %tr
          %td
            = button_link_to "Edit", edit_system_data_object_data_object_row_path(@system, @data_object, row)
            = button_link_to "", system_data_object_data_object_row_path(@system, @data_object, row), :method => :delete, :confirm => "Are you sure you want to delete this row?", :class => "delete red"
          - @visible_attr_names.each do |name|
            %td= row[name]



-# COLUMN DISPLAY CODE
-#---------------------
-#-#TODO Move this
-#- cols = Array.new
-#- @data_object.data_object_attributes.each do |attr|
-#  - if attr.column.present?
-#    -cols[attr.column] = attr
-#
-##container_page_content.wrapper
-#  %h2 Content
-#  %span
-#    %table{:width => "100%"}
-#      %tr
-#        - @data_object.display_columns.times do |n|
-#          %td{:align => "center", :width => "#{100 / @data_object.display_columns}%", "data-id" => n }
-#            - if cols[n+1].present?
-#              %h3= cols[n+1].name
-#            - else
-#              %h3 Empty Column!

-# END COLUMNS
-#---------------------


-# RELATIONSHIPS AND SECURITY GROUPS CODE
-#---------------------

-# TODO: WORST CODE EVER!
-##container_page_content.wrapper
-#  .unit.block_left_col
-#    %h3 External Data Relationships
-#    .row.information
-#      %span.bold Linked Data Objects:
-#      %ul
-#        - @data_object.relatives.each do |rel|
-#          %li=link_to rel.name, system_data_object_path(@system, rel)
-#      %span.bold Data Objects Linking to this:
-#      %ul
-#        - @data_object.inverse_relatives.each do |irel|
-#          %li=link_to irel.name, system_data_object_path(@system, irel)
-#
-#  .unit.block_left_col
-#    %h3 Security:
-#    .row.information
-#      - if @data_object.security_groups.blank?
-#        .bold
-#          No Security Groups Defined
-#      - @data_object.security_groups.each do |sg|
-#        %p=sg.name
-#  .unit.block_left_col
-#    %h3 R
-#    .row.information
-#      - @data_object.data_object_security_groups.each do |sg|
-#        %p=sg.read? ? "Y" :"N"
-#  .unit.block_left_col
-#    %h3 W
-#    .row.information
-#      - @data_object.data_object_security_groups.each do |sg|
-#        %p=sg.write? ? "Y" :"N"
-#  .unit.block_left_col
-#    %h3 A
-#    .row.information
-#      - @data_object.data_object_security_groups.each do |sg|
-#        %p=sg.admin? ? "Y" :"N"

-# END RELATIONS/SECURITY
-#---------------------
