#container_page_header.wrapper.clearfix
  #container_page_title
    %h1.title.data_object
      %span=@data_object.name

  #container_page_buttons.right
    -if can? :change_content, @data_object
      =button_link_to "Import", import_system_data_object_path(@system, @data_object), :class => "green add", :remote => true
    =button_link_to "Export", export_system_data_object_path(@system, @data_object), :class => "file"
    -if can? :manage, @data_object
      =button_link_to "Configure", configure_system_data_object_path(@system, @data_object), :class => "edit", :remote => true

  #container_page_details.right.flushright.details
    .entry
      %p
        Records:
        = @data_object.data_object_rows.count
    -if can? :change_content, @data_object
      .entry
        %p
          #{link_to "Import jobs", system_data_object_import_jobs_path(@system, @data_object)} requiring action:
          =@data_object.import_jobs.count

-#%h2 Details
#container_page_content.wrapper
  .system_left_col
    .left.line
      %h3 Description:
    .row.information
      %p=@data_object.description.blank? ? "(Nothing Entered)" : @data_object.description
  -if @data_object.data_object_attributes.hidden_fields.present?
    .system_right_col
      .left.line
        %h3{:title => "The following attributes are hidden from view (values can be viewed by inspecting individual records):"} Hidden Attributes
      .row.information
        %p.light
        %ul
          - @data_object.data_object_attributes.hidden_fields.each do |attr|
            %li{:title => "Internal Name: " << attr.name }=attr.label



-#TODO Move this
- cols = Array.new
- @data_object.data_object_attributes.each do |attr|
  - if attr.column.present?
    -cols[attr.column] = attr


#container_page_content.wrapper
  %h3 Contents
  - if @data_object.data_object_attributes.blank?
    %p.bold Data Object has no attributes defined.
    -if can? :manage, @data_object
      %p Click "Configure" to define them.
  - elsif  @data_object.data_object_rows.blank?
    %p.bold Data Object is Empty.
    -if can? :change_content, @data_object
      %p You can add data by either:
      %ul
        %li Manually entering it by clicking the 'Add Record' button below
        %li Importing a data file by clicking 'Import' at the top right.
  - else
    #data_object_attr_table
      %table.table.table-striped.table-bordered.table-condensed#data_object_contents
        %tr
          -if can? :change_content, @data_object
            %th Actions
          - @data_object.data_object_attributes.visible_fields.each do |attr|
            %th{:title => "Internal Name: " << attr.name }= attr.label
        - @data_object.data_object_rows.each do |row|
          %tr{:class => cycle('field_bg', 'field_nobg')}
            -if can? :change_content, @data_object
              %td
                = button_link_to "", edit_system_data_object_data_object_row_path(@system, @data_object, row), :class => 'edit small_button', :title => "Edit"
                = button_link_to "", system_data_object_data_object_row_path(@system, @data_object, row), :method => :delete, :confirm => "Are you sure you want to delete this row?", :class => "delete red small_button", :title => "Delete"
            - @visible_attr_names.each do |name|
              %td= row[name]
  .field.line
    .field.actions
      -if can? :change_content, @data_object
        = button_link_to "Add Record", new_system_data_object_data_object_row_path(@system, @data_object), :class => 'blue add', :title => "Add Record"




-# COLUMN DISPLAY CODE
-#---------------------
-#-#TODO Move this
-#- cols = Array.new
-#- @data_object.data_object_attributes.each do |attr|
-#  - if attr.column.present?
-#    -cols[attr.column] = attr
-#
-##container_page_content.wrapper
-#  %h2 Content
-#  %span
-#    %table{:width => "100%"}
-#      %tr
-#        - @data_object.display_columns.times do |n|
-#          %td{:align => "center", :width => "#{100 / @data_object.display_columns}%", "data-id" => n }
-#            - if cols[n+1].present?
-#              %h3= cols[n+1].name
-#            - else
-#              %h3 Empty Column!

-# END COLUMNS
-#---------------------


-# RELATIONSHIPS AND SECURITY GROUPS CODE
-#---------------------

-# TODO: WORST CODE EVER!
-##container_page_content.wrapper
-#  .unit.block_left_col
-#    %h3 External Data Relationships
-#    .row.information
-#      %span.bold Linked Data Objects:
-#      %ul
-#        - @data_object.relatives.each do |rel|
-#          %li=link_to rel.name, system_data_object_path(@system, rel)
-#      %span.bold Data Objects Linking to this:
-#      %ul
-#        - @data_object.inverse_relatives.each do |irel|
-#          %li=link_to irel.name, system_data_object_path(@system, irel)
-#
-#  .unit.block_left_col
-#    %h3 Security:
-#    .row.information
-#      - if @data_object.security_groups.blank?
-#        .bold
-#          No Security Groups Defined
-#      - @data_object.security_groups.each do |sg|
-#        %p=sg.name
-#  .unit.block_left_col
-#    %h3 R
-#    .row.information
-#      - @data_object.data_object_security_groups.each do |sg|
-#        %p=sg.read? ? "Y" :"N"
-#  .unit.block_left_col
-#    %h3 W
-#    .row.information
-#      - @data_object.data_object_security_groups.each do |sg|
-#        %p=sg.write? ? "Y" :"N"
-#  .unit.block_left_col
-#    %h3 A
-#    .row.information
-#      - @data_object.data_object_security_groups.each do |sg|
-#        %p=sg.admin? ? "Y" :"N"

-# END RELATIONS/SECURITY
-#---------------------
