!!!
%html
  %head
    = render 'layouts/head'
  %body
    #content_wrapper
      = render 'layouts/banner'
      - if user_signed_in?
        = render 'shared/left_nav'
        #container_right_content
          = render 'layouts/messages'
          = yield
      - else
        #container_right_content
        = render 'layouts/messages'
        = yield
    #wizard
    -##footer
    -#  %a.logo{:href => "http://www.intersect.org.au/attribution-policy", :target => "_about"}>
    -#  =t('developer_footer')
    -#  \#{debug(params) if Rails.env.development?}
    :javascript
      $(document).ready(function() {
          setTimeout(function() {
              // Appear/Disappear
              $('.expandable > li > a.expanded').parent().find('> ul').show();
              $('.expandable a[id="arrow"]').click(function() {
                  $(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').toggle();
              });
          }, 250);
      });

      $('[id^=show_][id$=_wizard]').click(function() {
          $(this).addClass('ac_loading');
      });

      $('#back_button').live('click', function() {
          $(this).addClass('ac_loading');
      });

      $('input[type=submit]', '#wizard').live('click', function() {
          $(this).addClass('ac_loading');
      });

      $('form', '#wizard').live('submit', function() {
          $('.basic_field').attr('disabled', 'disabled');
          $('.remove_button').css('visibility', 'hidden');
      });

      $(document).keydown(function(e) {
          if (e.which == 27) {  // escape, close box
              $('[id^=close_][id$=_dialog]').click();
          }
      });

